@import url("../index.css");

.empty-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        font-family: var(--ff-text);
        font-size: var(--size-title2);
        padding: 2em 0 0 0;
    }

    img {
        height: 40vh;
        width: auto;
        opacity: 0.7;
        margin: 1em;
    }

    button {
        margin-bottom: 2em;
    }
}


    .cart-container {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        margin: 2em;

        .items-list {
            flex: 2;
        }

        
        .total-cart {
            flex: 1;
            text-align: center;
            padding: 1em;

            h3, h2, button {
                padding: 0;
                margin: 1em;
            }
        }

        .item-cart {
            display: flex;
            flex-direction: colum;
            justify-content: space-between;
            margin: 1.5em;
            border-top: 2px solid #cccccc;
            border-right: 2px solid #cccccc;
            padding: 2em 2em 0 0;
        
            img {
                height : 30vh;
                width: auto;
            }

            p {
                font-family: var(--ff-button);

            }
        
            .item-cart-infos {
                
                width: 25%;
            
                p, label {
                    font-family: var(--ff-text);
                    font-size: var(--size-text);
                    color: var(--text-color2);
                    margin: 1.5em;
                }
        
                select {
                    background-color: rgb(202, 202, 202);
                }
        
                button {
                    position: absolute;
                    top: -1em;
                    right: 0;
                    background: none;
                    border: none;
                    color: red;
                    cursor: pointer;
                    width: 3em;
                    margin: 1em;
                    font-weight: bold;
                    font-size: 2em;
                  }
                  
                  button:hover {
                    color: darkred;
                  }
        
                  .img-title-text {
                    position: relative;
                    display: inline-block;
                  }
                  
                  .hover-text {
                    visibility: hidden;
                    width: 120px;
                    background-color: rgba(0, 0, 0, 0.6);
                    font-family: var(--ff-text);
                    color: white;
                    text-align: center;
                    border-radius: 6px;
                    padding: 5px 0;
                    position: absolute;
                    z-index: 1;
                    top: 1em;
                    left: -12em;
                    transform: translateX(-50%);
                    opacity: 0;
                    transition: opacity 0.5s;
                  }
                  
                  .img-title-text:hover .hover-text {
                    visibility: visible;
                    opacity: 1;
                  }
            }
        
    }

}