@import url("../index.css");

.empty-favorites {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        font-family: var(--ff-text);
        font-size: var(--size-title2);
        padding: 2em 0 0 0;
    }

    img {
        height: 40vh;
        width: auto;
        opacity: 0.5;
        margin: 1em;
    }

    button {
        margin-bottom: 2em;
    }
}

.grid-favorites-items {
    margin: 5em;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: minmax(300px, auto);
    grid-gap: 2em;

    .item-favorites-card {
        width: 40vh; 
        height: 40vh;
        display: flex;
        flex-direction: column;
        text-align: center;
        position: relative;
        border: 2px solid transparent;
        transition: border 0.5s ease-in-out;

        img {
            height: 13em;
            width: auto;
            border-radius: 20%;
            padding-top: 0.5em;
        }

        button {
            width: 8em;
            height: 1.5em;
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
            margin-top: 0.6em;
        }

        p {
            font-family: var(--ff-text);
            margin-top: 0.6em;
        }
    }

    .item-favorites-card:hover {
        border-color: #dba934;
        animation: border-animation 0.7s infinite;
    }

    .item-favorites-card:hover button {
        visibility: visible;
        opacity: 1;
    }

    .img-title-text {
        position: relative;
        display: inline-block;
      }
      
      .hover-text {
        visibility: hidden;
        width: 10em;
        background-color: rgba(0, 0, 0, 0.6);
        font-family: var(--ff-text);
        color: white;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        top: -3em;
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity 0.5s;
      }
      
      .img-title-text:hover .hover-text {
        visibility: visible;
        opacity: 1;
      }

      .remove-favorite {
        position: absolute;
        width: 1em;
        top: -1.4em;
        right: -4em;
        border: none;
        background: none;
        color: red;
        font-weight: bold;
        font-size: 4em;
        cursor: pointer;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }
        
    .item-favorites-card:hover .remove-favorite {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes border-animation {
    0% {
        border-width: 2px;
        border-style: solid;
        border-color: #dba934 transparent transparent transparent;
        border-radius: 20px;
    }
    20% {
        border-color: #dba934 transparent transparent transparent;
        border-radius: 20px;
    }
    35% {
        border-color: #dba934 #dba934 transparent transparent;
        border-radius: 20px;
    }
    50% {
        border-color: #dba934 #dba934 #dba934 transparent;
        border-radius: 20px;
    }
    65% {
        border-color: transparent #dba934 #dba934 #dba934;
        border-radius: 20px;
    }
    80% {
        border-color: transparent transparent #dba934 #dba934;
        border-radius: 20px;
    }
    100% {
        border-color: transparent transparent transparent #dba934;
        border-radius: 20px;
    }
}