@import url("../index.css");

.order-detail {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5em;
    gap: 3em;

    p {
        font-family: var(--ff-text);
        font-size: 1rem;
        margin: 0.5em;
        text-align: center;
    }

    img {
        width : 40vh;
        height: auto;
    }

    .image-container {
        display: flex;
        flex-direction: row;
        gap: 3em;
        align-items: center;
    }
}